# Created by https://www.gitignore.io/api/clojure

### Clojure ###
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/


# End of https://www.gitignore.io/api/clojure